* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: rgb(200, 200, 200);
  --text-color-active: rgb(255, 255, 255);
  --bg-color: rgba(255, 255, 255, 0.05);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --main-color: rgb(119, 0, 255);
  --bg-url: url(../assets/bg-desktop.jpg);
  --switch-bg-url: url(../assets/moon-stars.svg);
}

.light {
  --text-color: rgb(50, 50, 50);
  --text-color-active: rgb(255, 255, 255);
  --bg-color: rgba(0, 0, 0, 0.05);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --main-color: rgb(119, 0, 255);
  --bg-url: url(../assets/bg-desktop-light.jpg);
  --switch-bg-url: url(../assets/sun.svg);
}


body {
  height: 100vh;
  overflow-x: hidden;
  background: var(--bg-url)no-repeat top center/cover;
}

body * {
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

.container {
  position: absolute;
  display: grid;
  width: 100vw;
  height: 100vh;
  padding: 0 20px 0 0;
  justify-content: center;
  align-items: center;
  
  grid-template-columns: 5.5fr 4.5fr;
  grid-template-rows: 1fr 8fr 0.5fr 0.5fr;
  grid-template-areas:
    "header header"
    "slider relatory"
    "buttons relatory"
    "footer footer";
}


/*===== Grid header =====*/
.header {
  grid-area: header;
  display: flex;
  padding: 10px 20px;
  height: 100%;
  align-items: center;
  gap: 10px;
}
.menu span{
  padding: 5px 10px;
  border-radius: 20px;
  background: var(--bg-color);

}
.menu span:nth-child(1) {
  margin: 0 20px 0 0;
}
.menu span a {
  color: var(--text-color);
  text-decoration: none;
}
.logo img {
  width: 50px;
}
.menu span:hover {
  color: var(--text-color-active);
  background: rebeccapurple;
}
.menu span a:hover {
  color: var(--text-color-active);
}

/*== Switch Button ==*/
.switch {
  position: relative;
  width: 64px;
  margin: 4px 0 0 auto;
}

/*Switch*/
.switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  animation: slide-back 0.5s forwards;
}

.light .switch button {
  animation: slide-in 0.5s forwards;
}

.switch button:hover {
  outline: 8px solid var(--surface-color);
}

.switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
  box-shadow: 0 5px 10px var(--stroke-color);
}
/*== Switch Button ==*/
/*===== Grid header =====*/


/*===== Grid slider =====*/
.slider {
  grid-area: slider;
  position: absolute;
  inset: 0 110px 0 20px;
  border-radius: 20px;
  box-shadow: 0 5px 10px var(--stroke-color);
}
.slider .slides {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  min-width: 100px;
  min-height: 30%;
  width: 100px;
  height: 30%;
  transition: 1s;
  border-radius: 20px;
  box-shadow: 0 5px 10px var(--stroke-color);
  background: var(--img)no-repeat center/cover;
}
.slider .slides:nth-child(1),
.slider .slides:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  transform: translateY(0);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
}
.slider .slides:nth-child(3) {
  top: calc(18% + 0%);
  right: calc(-110px);
  background-size: cover;

}
.slider .slides:nth-child(4) {
  top: calc(18% + 32%);
  right: calc(-110px);
  background-size: cover;
}
.slider .slides:nth-child(5) {
  top: calc(18% + 64%);
  right: calc(-110px);
  background-size: cover;
}
.slider .slides:nth-child(6) {
  top: calc(18% + 96%);
  right: calc(-110px);
  background-size: cover;
  opacity: 0;
}
/*===== Grid slider =====*/


/*== Grid Buttons ==*/
.buttons {
  grid-area: buttons;
  position: relative;
  display: flex;
  gap: 10px;
  padding: 10px 15% 10px 10px;
  justify-content: center;
  z-index: 2;
}
.buttons span {
  display: flex;
  width: 50px;
  height: 50px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--bg-color);
  z-index: 2;
  box-shadow: 0 5px 10px var(--stroke-color);
}
.buttons span::before {
  content: '';
  width: 15px;
  height: 15px;
  border-top: 4px solid var(--stroke-color);
  border-left: 4px solid var(--text-color);
  transform: rotate(315deg) translate(2px,2px);
  z-index: 2;
}
.buttons span:nth-child(2)::before {
  transform: rotate(135deg) translate(2px,2px);
  z-index: 2;
}
.buttons span:active {
  opacity: 0.5;
  z-index: 2;
}
/*== Grid Buttons ==*/


/*===== Grid relatory =====*/
.relatory {
  grid-area: relatory;
  position: absolute;
  inset: 0 20px;
}
/*== Menu ==*/
.tab-container {
  position: relative;
  display: flex;
  gap: 5px;
}
.tab-button {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background: var(--bg-color);
  z-index: 1;
  box-shadow: 0 5px 10px var(--stroke-color);
}
.tab-button.active {
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  color: var(--text-color-active);
  background: transparent;
}
.tab-container.second .tab-background {
  background: var(--main-color);
}
.tab-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 20px;
  transition: width 0.3s, left 0.3s;
  background: var(--main-color);
}
/*== Menu ==*/

/*== Conteúdo ==*/
.tab-content {
  position: relative;
  margin: 20px 0;
  height: 90%;
}
.ta-tab-item {
  position: absolute;
  display: none;
  inset: 10px 0;
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 20px;
  background: var(--bg-color);
  box-shadow: 0 5px 10px var(--stroke-color);
}
.ta-tab-item ul, ol {
  padding-left: 20px;
}
.ta-tab-item.active {
  display: block;
}
.code {
  padding: 40px 40px 10px;
  width: 100%;
  height: 100%;
  border-style: none;
  border-radius: 20px;
  overflow: hidden;
  color: var(--text-color);
  background: rgba(0, 0, 0, 0.300);
}
/*== Conteúdo ==*/
/*===== Grid relatory =====*/


/*===== Grid footer =====*/
.footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
  background: var(--bg-color);
  border-radius: 20px;
  margin: 20px;
  box-shadow: 0 5px 10px var(--stroke-color);
}
/*===== Grid footer =====*/

/* mínimo de 320px e máximo de 480px, para dispositivos móveis. Utilizo para potencialidades se necessário mas eu geralmente começo a construir pensando em dispositivos menores para depois ir aumentando de tamanho.
mínimo de 481px e máximo de 768px, para tablets. 
mínimo de 769px e máximo de 1024px, para laptops
mínimo de 1025px e máximo de 1200px, para telas grandes
mínimo de 1201px, para telas muito grandes. Nesse último colocamos apenas o mínimo para que ele vá de 1201px até a maior tela existente.  

@media (min-width: 481px) and (max-width: 768px) {
}
*/

@media {
  /*Animation*/
  @keyframes slide-in {
    from {
      left:0;
    } to{
      left: 50%;
    }
  }

  @keyframes slide-back {
    from {
      left:50%;
    } to{
      left: 0;
    }
  }
}
  


/* Mobile */
@media (max-width: 768px) {
  * {
    border: solid 1px gold;
  }
  :root {
    --bg-url: url(../assets/bg-mobile.jpg);
  }

  .light {
    --bg-url: url(../assets/bg-mobile-light.jpg);
  }

  body {
    width: 100vw;
  }

  .container {
    display: grid;
    grid-template-columns: 10fr;
    grid-template-rows: 1.5fr 80% 10% 50% 0.5fr;
    grid-template-areas: 
    "header"
    "slider"
    "buttons"
    "relatory"
    "footer";
  }
  
  .header {
    grid-area: header
    padding: 15px 0 25px;
    justify-content: center;
    border: solid 1px gold;
  }

  .header .logo {
    position: absolute;
    z-index: -1;
    opacity: 10%;
  }

  .header .logo img {
    width: 30%;
    top: 10px;
  }

  .switch {
    position: absolute;
    top: 50px;
    z-index: 1;
  }
  

  .slider {
    grid-area: slider;
    inset: 0 20px 110px;
  }

  .slider .slides {
    width: 20%;
    height: 20%;
    min-width: 20%;
    min-height: 20%;
  }
  .slider .slides:nth-child(3) {
    top: calc(113%);
    right: calc(20px + 0%);
    border: solid 2px red;
  }
  .slider .slides:nth-child(4) {
    top: calc(113%);
    right: calc(20px + 25%);
    border: solid 2px rgb(255, 225, 0);
  }
  .slider .slides:nth-child(5) {
    top: calc(113%);
    right: calc(20px + 50%);
    border: solid 2px rgb(0, 255, 21);
  }
  .slider .slides:nth-child(6) {
    top: calc(113%);
    right: calc(20px + 75%);
    border: solid 2px rgb(0, 26, 255);
    opacity: 1;
  }
    

  .buttons {
    grid-area: buttons;
    padding: 10px 10px;
    gap: 50px;
  }

  .relatory {
    grid-area: relatory;
    inset: 0 20px;
    height: 100%;
  }






  .footer { grid-area: footer; }  
}
