* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
      height: 100vh;
      width: 100vw;
      overflow: hidden;
      background: url(../assets/bg-desktop.jpg)) no-repeat top center/cover;
}

body * {
    font-family: "Inter", sans-serif;
}

.texto {
    position: absolute;
    top: 50%;
    left: 50%;
}

h1 {
    color: white;
    position: relative;
}