.buttons {
  grid-area: buttons;
  position: relative;
  display: flex;
  gap: 20px;
  margin: 20px 0 0 0;
  border-radius: 20px;
  padding: 10px 140px 10px 0;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  box-shadow: 0 5px 10px var(--stroke-color);
}
.buttons span {
  display: flex;
  width: 50px;
  height: 50px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--bg-color);
  z-index: 1;
}
.buttons span::before {
  content: '';
  width: 15px;
  height: 15px;
  border-top: 4px solid var(--stroke-color);
  border-left: 4px solid var(--text-color);
  transform: rotate(315deg) translate(2px,2px);
  z-index: 1;
}

.buttons span::before:hover {
  content: '';
  width: 15px;
  height: 15px;
  border-top: 4px solid var(--main-color);
  border-left: 4px solid var(--main-color);
  transform: rotate(315deg) translate(2px,2px);
  z-index: 1;
}

.buttons span:nth-child(2)::before {
  transform: rotate(135deg) translate(2px,2px);
  z-index: 2;
}
.buttons span:active {
  opacity: 0.5;
  z-index: 1;
}


@media (max-width: 768px) {
  .buttons {
    grid-area: buttons;
    padding: 20px 10px;
    inset: 20px auto;
    background-color: transparent;
    box-shadow: 0 5px 10px transparent;
  }
}