* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid 1px yellow; */
}

:root {
  --main-color: rgb(119, 0, 255);
  --bg-color: rgba(255, 255, 255, 0.05);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  
  --text-color: rgb(200, 200, 200);
  --text-color-inv: rgb(200, 200, 200);
  --text-color-active: rgb(255, 255, 255);
  
  --bg-url: url(../assets/bg-desktop.jpg);
  --switch-bg-url: url(../assets/moon-stars.svg);
}

.light {
  --main-color: rgb(119, 0, 255);
  --bg-color: rgba(0, 0, 0, 0.05);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  
  --text-color: rgb(50, 50, 50);
  --text-color-active: rgb(255, 255, 255);
  
  --bg-url: url(../assets/bg-desktop-light.jpg);
  --switch-bg-url: url(../assets/sun.svg);
}


body {
  animation: fadein 2s;
  height: 100vh;
  overflow: hidden;
  background: var(--bg-url)no-repeat top center/cover;
  
  
}

body * {
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

.container {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  padding: 20px;
 
  grid-template-columns: 5.5fr 4.5fr;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
    "header header"
    "slider relatory"
    "buttons relatory";
}

@media (max-width: 768px) {
  :root {
    --bg-url: url(../assets/bg-mobile.jpg);
  }

  .light {
    --bg-url: url(../assets/bg-mobile-light.jpg);
  }

  body {
    background: var(--bg-url)top center/cover;
  }
  
  .container {
    display: grid;
    overflow: auto;
    grid-template-columns: 10fr;
    grid-template-rows: 1.5fr 80% 10% 90%;
    grid-template-areas: 
    "header"
    "slider"
    "buttons"
    "relatory";
  }
}