.relatory {
  grid-area: relatory;
  position: absolute;
  inset: 0 0 0 20px;
}

.relatory h3 {
  text-align: center;
  padding-block: 10px;
  color: var(--text-color);
  overflow: hidden;
}


/*== Menu ==*/
.tab-container {
  position: relative;
  max-width: 700px;
  margin: 20px auto;
  border-radius: 50px;
  overflow: hidden;
}

.tab-container svg {
  width: 40px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
  color: var(--text-color-active);
  border-radius: 50%;
  pointer-events: auto;
}

.tab-container ul {
  display: flex;
  gap: 5px;
  padding: 12px 24px;
  margin: 0;
  list-style: none;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.tab-container ul.dragging button {
  pointer-events: none;
}

.tab-container ul.dragging {
  scroll-behavior: auto;
}

.tab-container ul::-webkit-scrollbar {
  display: none;
}

.tab-container button {
  color: var(--text-color);
  text-decoration: none;
  background: rgba(102, 51, 153, 0.500);
  padding: 5px 10px;
  display: inline-block;
  border-radius: 50px;
  user-select: none;
  white-space: nowrap;
  border: none;
}

.tab-container button.active {
  background: var(--main-color);
  color: var(--text-color-active);
}

.tab-container .right-arrow,
.tab-container .left-arrow {
  position: absolute;
  height: 100%;
  width: 100px;
  top: 0;
  display: none;
  align-items: center;
  padding: 0 10px;
  pointer-events: none;
}

.tab-container .right-arrow.active,
.tab-container .left-arrow.active {
  display: flex;
}

.tab-container .right-arrow {
  right: 0;
  background: linear-gradient(to left, var(--main-color) 20%, transparent);
  justify-content: flex-end;
}

.tab-container .left-arrow {
  background: linear-gradient(to right, var(--main-color) 20%, transparent);
}

.tab-container svg:hover {
  width: 45px;
  height: 45px;
  color: var(--main-color);
}

/*== Menu ==*/

/*== Conteúdo ==*/
.tab-content {
  position: absolute;
  inset: 120px 0 0 0;
}
.ta-tab-item {
  position: absolute;
  display: none;
  inset: 0 0;
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 20px;
  background: var(--bg-color);
  box-shadow: 0 5px 10px var(--stroke-color);
}
.ta-tab-item ul, ol {
  padding-left: 20px;
}
.ta-tab-item.active {
  display: block;
}
.code {
  padding: 40px 40px 10px;
  width: 100%;
  height: 100%;
  border-style: none;
  border-radius: 20px;
  overflow: hidden;
  color: var(--text-color);
  background: rgba(0, 0, 0, 0.300);
}
/*== Conteúdo ==*/