@media (max-width: 768px) {
  :root {
    --bg-url: url(../assets/bg-mobile.jpg);
  }

  .light {
    --bg-url: url(../assets/bg-mobile-light.jpg);
  }

  body {
    background: var(--bg-url)top center/cover;
  }

  .container {
    display: grid;
    grid-template-columns: 10fr;
    grid-template-rows: 1.5fr 80% 10% 70% 0.5fr;
    grid-template-areas: 
    "header"
    "slider"
    "buttons"
    "relatory"
    "footer";
  }
  
  .header {
    grid-area: header;
    padding: 15px 0 25px;
    justify-content: center;
    border: solid 1px gold;
  }

  .header .logo {
    position: absolute;
    z-index: -1;
    opacity: 10%;
  }

  .header .logo img {
    width: 30%;
    top: 10px;
  }

  .switch {
    position: absolute;
    top: 45px;
    z-index: 1;
  }
  
  .slider {
    grid-area: slider;
    inset: 25px 20px 110px;
  }

  .slider .slides {
    width: 20%;
    height: 20%;
    min-width: 20%;
    min-height: 20%;
  }
  .slider .slides:nth-child(3) {
    top: calc(113%);
    right: calc(20px + 0%);
  }
  .slider .slides:nth-child(4) {
    top: calc(113%);
    right: calc(20px + 25%);
  }
  .slider .slides:nth-child(5) {
    top: calc(113%);
    right: calc(20px + 50%);
  }
  .slider .slides:nth-child(6) {
    top: calc(113%);
    right: calc(20px + 75%);
    opacity: 1;
  }

  .buttons {
    grid-area: buttons;
    padding: 10px 10px;
    gap: 50px;
  }

  .relatory {
    grid-area: relatory;
    inset: 100px 20px;
    height: 100%;
  }
}
